class Car:
    brand = None
    model = None
    color = None
    horsePower = None
    year_of_release = None

    def __init__(self,brand = None, model = None, color = None, horsePower = None, year_of_release = None):
        self.set_data(brand,model,color,horsePower,year_of_release)
        self.get_data()

    def set_data(self,brand = None, model = None, color = None, horsePower = None, year_of_release = None):
        self.brand = brand
        self.model = model
        self.color = color
        self.horsePower = horsePower
        self.year_of_release = year_of_release

    def get_data(self):
        print("Машина:", self.brand, self.model, self.color, self.horsePower, self.year_of_release)

    def nothing(self):
        pass
class Passenger_car(Car):
    maxSpeed = 0
    fuel_consumption = 0

    def __init__(self, brand, model, color, horsePower, year_of_release, maxSpeed, fuel_consumption ):
        super(Passenger_car, self).__init__(brand, model, color, horsePower, year_of_release)
        self.maxSpeed = maxSpeed
        self.fuel_consumption = fuel_consumption
    def get_info(self):
        super().get_data()
        print("Максимальная скорость:", self.maxSpeed)
        print("Расход топлива:", self.fuel_consumption)

car1 = Passenger_car("Porsche","911","green","480 л. с.", 2018,"293 км/ч","169-368 л/100 км")
car1.get_info()
